<div class="fb">
	<div
	class="fb-like"
	data-share="true"
	data-width="450"
	data-show-faces="false">
	</div>
	<div>
		<a href="https://twitter.com/sharova_law" class="twitter-follow-button" data-lang="en" data-show-count="false">@sharova_law</a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>
