<div class="hideblock">
<div class="pbtn">
	<img src="/img/shape_G.svg" onclick="toggleMap()">
</div>
<div class="wrapper container" id="hidecont">
	<div class="content h" id="map_block">
		<ul class="txt-right">
			<li><a href="">Main</a></li>
			<li><a href="">About us</a></li>
			<li><a href="">Contact us</a></li>
			<li><a href="">News &amp; views</a></li>
			<li><a href="">Practice areas</a></li>
		</ul>

		<ul class="txt-left">
			<li>
				<a href="">1 thame</a>
				<ul>
					<li><a href="">text</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
				</ul>
			</li>
		</ul>
		<ul class="txt-left">
			<li>
				<a href="">2 thame</a>
				<ul>
					<li><a href="">text</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
				</ul>
			</li>
		</ul>
		<ul class="txt-left">
			<li>
				<a href="">3 thame</a>
				<ul>
					<li><a href="">text</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
				</ul>
			</li>
		</ul>
		<ul class="txt-left">
			<li>
				<a href="">4 thame</a>
				<ul>
					<li><a href="">text</a></li>
					<li><a href="">2 thame</a></li>
					<li><a href="">3 thame</a></li>
					<li><a href="">4 thame</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
