{% block socialButtons %}
    <span>
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </span>
{% endblock %}