{% block ampNav %}
	<div class="amp-nav nav">
		<div class="amp-nav-current">
			{{active.name}}
		</div>
		<a class="input button button-primary" href="{{ path('plugins_practic_area_homepage') }}" title="Practic Areas">
			Show other practice areas
		</a>
	</div>
{% endblock %}
