{% block ampBanner %}
	<!-- <amp-app-banner layout="nodisplay" id="banner">
    <div id="banner-logo">
      <amp-img src="{{ (app.request.getSchemeAndHttpHost() ~ asset("/images/logo_og.png"))}}"
          width="60"
          height="51"
          layout="fixed"></amp-img>
    </div>
    <div id="banner-text">Learn more about AMP in the Medium App.</div>
    <div id="banner-action">
      <button open-button>View in app</button>
    </div>
	</amp-app-banner> -->
{% endblock %}
