<ul class='slides b'>
    <li class='cur'>
			<img class="avvo_img" src="/images/avvo/avvo01.png" alt="Top Divorce Attorney Yelena Sharova">
		</li>
		<li>
			<img class="avvo_img" src="/images/avvo/avvo02.png" alt="Top Criminal Defense Attorney Yelena Sharova">
		</li>
		<li>
			<img class="avvo_img" src="/images/avvo/avvo03.png" alt="Top Divorce Attorney New York">
		</li>
		<li>
			<img class="avvo_img" src="/images/avvo/avvo04.png" alt="Top Criminal Defense Attorney New York">
		</li>
		<li>
			<img class="avvo_img" src="/images/avvo/avvo05.png" alt="Top Divorce Lawyer New York">
		</li>
		<li>
			<img class="avvo_img" src="/images/avvo/avvo06.png" alt="Top Criminal Defense Lawyer New York">
		</li>
</ul>
