.sonata-bc .logo img {
    display: inline;
    max-width: 150px;
    max-height: 100%;
    padding-bottom: 4px;
}

.sonata-bc .logo,
.sonata-bc .logo:hover {
    background-color: #e0d9d1;
}
.associations .bar-association {
  float: left;
  height: 150px;
  margin: 30px 43px;
  vertical-align: middle;
  line-height: 245px;
	width: 24%;
	text-align: center;
}
